

div.mibox {
    background-color:green;
    margin: 5px;
    text-align: center;
    color: white;
    font-size: 40px;
}

div.fijo  {
    background-color:red;
}

div.titulo {
    text-align: center;
    color: black;
    font-size: 40px;
}

div.circulo {
    
    font-weight: bold;
    border-radius: 50%;
    background-color:blue;
    text-align: center;
    color:white;
    font-size: 60px;
    vertical-align: center;
    height: 100px;
    width: 100px;
}

.segundo {
    float: center;
}
.tercero {
    float: right;
}

img.imagen {
        width: 100%;
        padding: 5px;
        border: grey 3px solid;
        vertical-align: middle;
    }
div.texto {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 20px;
}

body { 
    margin:50px;
}

div.separador50 {
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    color: blue;
} 