 
@media only screen and (max-width: 799px) {
    body {background-color: green;}
    div.green {
        font-size: 80px;
        text-align: center;
        color: white;
        display: block;
        margin-top: 80px;
    }
    div.red {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    body {background-color: red;}
    div.green {
     display: none;   
    }
    div.red {
        font-size: 80px;
        text-align: center;
        color: white;
        display: block;
        margin-top: 80px;
    }
}

    

