div.circulo {
    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:blue;
    font-weight:bold;
    display: inline-block;
    vertical-align: center;
    margin: 20px;
}



td{
    width: 130px;
    height: 20px;
}

div.circulo1 {
    
    font-weight: bold;
    padding: 25px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:palevioletred;
    text-align: center;
    color:white;
    font-weight:bold;
    font-size: 60px;
    display: inline-block;
    vertical-align: center;
    margin: 20px;
}

div.botones {
    
}