body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}
h1.fnt-red {
    color: red;
    }
    
    .fnt-blue {
    color: blue;
    }
    
    #nombre_alumno {
        color: red;
        text-decoration: underline;
    }

h3 {
    color:rgb(112, 159, 230)
 
}

p.body {
    color:rgb(42, 25, 117)
}
.bold {
    font-weight: bold
}

div.centro {
    
            text-align: center;
            

}
.circulo {
    
            font-weight: bold;
            padding: 25px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color:blue;
            text-align: center;
            color:white;
            font-weight:bold;
            font-size: 60px;
            display: inline-block;
            vertical-align: center;
            margin: 20px;
        

}
#c1 {
    float: left;   


}
#c3 {
    float:right;  
}
div.franja {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 20px;
    background-color:red;
    font-weight: bold;
    position: fixed;
    left:0px;


}
div.encabezado {

        background-color:red;
        top: 0px;

    }
    div.pie {

        background-color:blue;
        bottom: 0px;
}
div.volver {
    position: absolute;
    top: 30%;
    right: 50%;
}

div.manos {
    margin: 0px;
    text-align: center;
    font-size: 100px;
}

div.manosup {
        margin-bottom: 20px;
}
i.mano1 {
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color:red;
    color: white;

   
}
i.mano2 {
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color:green;
    color: white;

    
}
i.mano3 {
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color:blue;
    color: white;

}
i.mano4 {
    padding: 25px;
    height: 100px;
    width: 100px;
    background-color:black;
    color: white;

}


td  {
    width: 25%;
    text-align: justify;

}
.imgtabla{
    width: 100%;
    padding: 5px;
    border: grey 3px solid;
}
.p10 {
   font-family:"Oldenburg";
   text-align: justify;
    }

.p10::first-letter {
    font-size: 2em;
    }
.p10::first-line {
        color:rgb(128, 20, 20)
        }


 form.miformulario {
     padding: 30px 30px 10px 30px;
     border: 1px dashed black;
     width: 330px;
     margin: auto;
        }
        
 form.miformulario > label {
     width: 100px;
     display: inline-block;
        }
        
form.miformulario > input {
    width: 200px;
    size: 100%;
    margin-bottom: 10px;
        }
        
div  button {
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
}

label{
    font-weight: bold;
    color: blue;
}


#imagenes1 {
    background-image: url("elo.png");
    width: 500px; 
    height: 250px;
    background-repeat;
    background-size: 25%;
    display: block;
    margin: auto;
}

#imagenes2 {
    background-image: url("elo.png");
    width: 500px; 
    height: 250px;
    background-size: 100%;
    display: block;
    margin: auto;
    }

#imagenes3 {
    background-image: url("elo.png");
    width: 500px; 
    height: 250px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    display: block;
    margin: auto;
        }
